spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin123
    listener:
      simple:
        retry:
          enabled: true
          max-attempts: 10
          initial-interval: 3000
          multiplier: 1.0
        missing-queues-fatal: false

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
